// SECTION dashboard :: START

.dashboard {
	&__wrapper {
		display: flex;
		@include adaptive(1023) {
			flex-wrap: wrap;
		}

		&-left {
			width: 335px;
			padding-right: 35px;
			@include adaptive(1023) {
				width: 100%;
				padding-right: 0;
				padding-bottom: 30px;
			}
		}

		&-right {
			flex: 1;
			min-width: 1px;
			max-width: 100%;
		}
	}

	&__box {
		display: flex;
		align-items: center;
		width: 100%;
		min-height: 143px;
		padding: 20px;
		border-radius: 3px;
		background: #fff;
		box-shadow: 0 0 14px rgba(83, 112, 151, 0.06);

		&-left {
			width: 57px;
			padding-right: 19px;
		}

		&-right {
			flex: 1;
			min-width: 1px;
			max-width: 100%;
		}

		&-wrapper {
			display: flex;
			flex-direction: column;
			@include adaptive(1023) {
				flex-wrap: wrap;
				flex-direction: row;
				justify-content: space-between;
			}

			> div {
				padding-bottom: 12px;
				@include adaptive(1023) {
					width: calc((100% - 12px) / 2);
				}
				@include adaptive(767) {
					width: 100%;
				}

				&:last-of-type {
					padding-bottom: 0;
				}
			}
		}

		&-ind {
			width: 38px;
			height: 38px;
			border-radius: 50%;
			background-color: #eeeeee;

			&--green {
				background-color: #41dcc7;
			}
			&--red {
				background-color: #fe95b3;
			}
		}

		&-count {
			font-size: 48px;
			letter-spacing: 0.01em;
			color: #000;
			line-height: 1;
		}

		&-desc {
			font-size: 14px;
			letter-spacing: 0.01em;
		}
	}

	&__chart {
		position: relative;
		width: 100%;
		min-height: 100%;
		border-radius: 3px;
		background: #fff;
		box-shadow: 0 0 14px rgba(83, 112, 151, 0.06);

		&-head {
			display: flex;
			align-items: center;
			justify-content: space-between;
			min-height: 80px;
			padding: 15px;
			@include adaptive(767) {
				flex-wrap: wrap;
			}

			&--right {
				display: flex;
				align-items: center;
				justify-content: flex-end;
				@include adaptive(767) {
					width: 100%;
					padding-top: 24px;
					justify-content: space-between;
				}
			}

			p {
				line-height: 1;
				font-size: 14px;
				letter-spacing: 0.01em;
				color: #000;
			}

			span {
				font-size: 12px;
				letter-spacing: 0.01em;
				color: #537097;
			}

			a {
				display: flex;
				align-items: center;
				margin-left: 20px;
				font-size: 14px;
				letter-spacing: 0.01em;
				color: #537097;
				@include transition(color);
				@include adaptive(767) {
					margin-left: 10px;
					margin-right: 10px;
				}
				@include adaptive(374) {
					margin-left: 5px;
					margin-right: 5px;
				}

				&.is-active {
					color: #000000;
				}

				&:hover {
					color: #000000;
					@include transition(color);
				}

				&:first-of-type {
					margin-left: 0;
					@include adaptive(1023) {
						margin-left: 10px;
					}
					@include adaptive(374) {
						margin-left: 5px;
					}
				}
			}
		}

		&-body {
			position: relative;
			padding: 0 15px 30px;
		}
	}
}

// SECTION dashboard :: END
