//- MIXIN :: START

include ./_mixin/_title
include ./_mixin/_subtitle
include ./_mixin/_btn
include ./_mixin/_svg-icon
include ./_mixin/_picture
include ./_mixin/_logotype
include ./_mixin/_hamburger
include ./_mixin/_swiper
include ./_mixin/_modal
include ./_mixin/_nav
include ./_mixin/_form


mixin subHeader(title, subtitle)
	.heading
		.c-grid
			.heading__wrapper
				div
					p.heading__title!= title
					p.heading__subtitle!= subtitle
				div
					a.heading__btn(href="#" class="" title="")
						i.icon-font.icon-book
						span!= "Documentation"


//- MIXIN :: END
