// SECTION bulk upload mobile :: START

.bulk__mobile

	.bulk__mobile-title
		p Upload your file

	a.bulk__mobile-btn(href="#" class="" title="") From Computer
	a.bulk__mobile-btn(href="#" class="" title="") Add Integration

// SECTION bulk upload mobile :: END
