// SECTION bulk verify :: START

.bulk__verify

	form(action='' method='' autocomplete='off')

		.bulk__verify-wrapper
			div
				input.bulk__verify-input(type='text' name='' placeholder='Enter one email and click on the verify button')
			div
				button.bulk__verify-btn(type='submit') Verify

// SECTION bulk verify :: END
