// SECTION bulk filter :: START

.bulk__filter
	.bulk__filter-left

		form(action="" method="" autocomplete='off')
			input.bulk__filter-input(type='text' name="" placeholder="File name")

	.bulk__filter-right

		.bulk__filter-link-wrapper
			a.bulk__filter-link.is-active(href="#" class="" title="") All
			a.bulk__filter-link(href="#" class="" title="") Cleaned
			a.bulk__filter-link(href="#" class="" title="") Processing
			a.bulk__filter-link(href="#" class="" title="") Unprocessed

// SECTION bulk filter :: END
