// SECTION bulk result :: START

.bulk__result
	.bulk__result-head

		.bulk__result-circle

	.bulk__result-body

		p.bulk__result-title sup100.csv

		.bulk__result-row
			.bulk__result-col.bulk__result-col-1

				.bulk__result-ind.bulk__result-ind--valid
					div
						i
					div
						p Valid
					div
						span 300

				.bulk__result-ind.bulk__result-ind--invalid
					div
						i
					div
						p Invalid
					div
						span 20

				.bulk__result-ind.bulk__result-ind--unknown
					div
						i
					div
						p Unknown
					div
						span 26

				.bulk__result-ind.bulk__result-ind--all
					div
						i
					div
						p Accept All
					div
						span 87

			.bulk__result-col.bulk__result-col-2

				.bulk__result-ind.bulk__result-ind--stamtrap
					div
						i
					div
						p Stamtrap
					div
						span 300

				.bulk__result-ind.bulk__result-ind--disposable
					div
						i
					div
						p Disposable
					div
						span 20

				.bulk__result-ind.bulk__result-ind--complaint
					div
						i
					div
						p Complaint
					div
						span 26

				.bulk__result-ind.bulk__result-ind--duplicate
					div
						i
					div
						p Duplicate
					div
						span 87

	.bulk__result-footer

		a.bulk__result-btn(href="#" class="" title="")
			div
				span Download clean list
			div
				i.icon-font.icon-arrow
		a.bulk__result-btn(href="#" class="" title="")
			div
				span Download full list
			div
				i.icon-font.icon-arrow

// SECTION bulk result :: END
