// SECTION bulk :: START

section#bulk.bulk.bulk--empty
	.c-grid

		.bulk__wrapper
			.bulk__wrapper-left

				include _bulk--upload

				include _bulk--integration

			.bulk__wrapper-middle

				include _bulk--mobile

				include _bulk--filter

				include _bulk--box

				include _bulk--pagination

			.bulk__wrapper-right

				include _bulk--result

// SECTION bulk :: END
