// SECTION bulk arrow :: START

.bulk__arrow
	img.bulk__arrow-img(src="img/img-api-arrow.svg" alt="" title="")

	p.bulk__arrow-text Welcome to EmailMarker,<br>You can start verify your first list<br>by clicking this button

// SECTION bulk arrow :: END
