---
title: EmailMarker Dashboard | API

pageClassName: p-api
pageSubClassName: p-api-2
---
extends shared/_layout

block footer
block content
	div.body.body--start(class!= pageClassName)

		+subHeader('Api', 'Upload your list and start verification')

		include components/api/_api


block modal
	include components/modal/_modal-api-remove
