---
title: EmailMarker Dashboard | Bulk Verification

pageClassName: p-bulk-verification
pageSubClassName: p-bulk-verification-1
---
extends shared/_layout

block footer
block content
	div.body.body--start(class!= pageClassName)

		+subHeader('Bulk Verification', 'Upload your list and start verification')

		include components/bulk/_bulk--empty
