---
title: EmailMarker Dashboard | Bulk Verification

pageClassName: p-bulk-verification
pageSubClassName: p-bulk-verification-3
---
extends shared/_layout

block footer
block content
	div.body.body--start(class!= pageClassName)

		+subHeader('Bulk Verification', 'Upload your list and start verification')

		include components/bulk/_bulk--additional

block modal
	include components/modal/_modal-delete-list
	include components/modal/_modal-integration-list

