---
title: EmailMarker Dashboard | Buy

pageClassName: p-buy
---
extends shared/_layout

block footer
block content
	div.body.body--start(class!= pageClassName)

		+subHeader('Buy Verifications', 'Select a package')

		include components/buy/_buy
