---
title: EmailMarker Dashboard | Deal

pageClassName: p-deal
---
extends shared/_layout

block footer
block content
	div.body.body--start(class!= pageClassName)

		+subHeader('We’re giving you the chance<br>to SAVE BIG everyday.', '')

		include components/deal/_deal
