---
title: EmailMarker Dashboard

pageClassName: p-home
---
extends shared/_layout

block footer
block content
	div.body.body--start(class!= pageClassName)

		+subHeader('Hi, Youssef', 'Welcome to Emailmarker')

		include components/dashboard/_dashboard

