---
title: EmailMarker Dashboard | Single Verification

pageClassName: p-singl-verification
pageSubClassName: p-singl-verification-1
---
extends shared/_layout

block content
	div.body.body--start(class!= pageClassName)

		+subHeader('Single Verification', 'Input one email and click on the verify button')

		include components/single-verification/_single-verification
