---
title: EmailMarker Dashboard | Single Verification | Email Accept All

pageClassName: p-single-verification
pageSubClassName: p-single-verification-5
---
extends shared/_layout

block footer
block content
	div.body.body--start(class!= pageClassName)

		+subHeader('Single Verification', 'Input one email and click on the verify button')

		include components/single-verification/_single-verification
