// SECTION buy :: START

section#buy.buy
	.c-grid

		.buy__wrapper
			.buy__wrapper-left

				.buy__info
					h2.buy__info-title No monthly payment and your credit never expire

					.buy__info-wrapper
						p.buy__info-subtitle Volume Discount
						span.buy__info-text The more you verify, the lower the cost.

					.buy__info-wrapper
						p.buy__info-subtitle Free Deduplication
						span.buy__info-text We remove duplicates and bad syntax at no cost.

					.buy__info-wrapper
						p.buy__info-subtitle No Contract
						span.buy__info-text No upfront fee and flexible billing.

			.buy__wrapper-right

				.buy__box-wrapper
					.buy__box-left

						each val, idx in [1,2,3,4,5,6]
							.deal__box
								.deal__box-left
									.deal__box-icon
										img(src="img/mail.svg" alt="" title="")
										img(src="img/mail-hover.svg" alt="" title="")

								.deal__box-middle

									div
										h2 700,000
										p Email verifications
									div
										span Price
										h3 $497

								.deal__box-right
									a.deal__box-btn(href="#packageConfirm" class="" title="" data-effect="mfp-zoom-in" popup-js)!= "Buy Now"

					.buy__box-right

						each val, idx in [1,2,3,4,5,6]
							.deal__box
								.deal__box-left
									.deal__box-icon
										img(src="img/mail.svg" alt="" title="")
										img(src="img/mail-hover.svg" alt="" title="")

								.deal__box-middle

									div
										h2 1,5M
										p Email verifications
									div
										span Price
										h3 $350

								.deal__box-right
									a.deal__box-btn(href="#packageConfirm" class="" title="" data-effect="mfp-zoom-in" popup-js)!= "Buy Now"


// SECTION buy :: END
