// FOOTER :: START

.footer {
	padding: 20px;
	@include adaptive(767) {
		display: none;
	}

	&__wrapper {
		display: flex;
		align-items: center;
	}

	&__btn {
		display: flex;
		align-items: center;
		justify-content: center;
	}
}

// FOOTER :: END
