// SECTION modal :: START

.c-modal {
	&__close {
		display: flex;
		align-items: center;
		justify-content: center;
		position: absolute;
		width: 44px;
		height: 44px;
		right: 0;
		top: 0;
		font-size: 14px;
	}

	&__apiRemove {
		overflow: hidden;
		width: 100%;
		max-width: 628px;
		min-height: 167px;
		padding: 20px;
		border-radius: 3px;
		background: #fff;
		box-shadow: 0px 0px 30px rgba(83, 112, 151, 0.24);

		.c-modal {
			&__header {
				padding-bottom: 30px;

				p {
					font-size: 14px;
					letter-spacing: 0.01em;
				}
			}

			&__body {
				text-align: center;
				padding-bottom: 25px;

				p {
					font-size: 14px;
					letter-spacing: 0.01em;
					color: #b9cfdb;
				}
			}

			&__footer {
				a {
					display: flex;
					align-items: center;
					justify-content: center;
					width: 95px;
					height: 26px;
					margin-left: auto;
					margin-right: auto;
					border-radius: 3px;
					background: #fe95b3;
					box-shadow: 0px 0px 15px rgba(254, 149, 179, 0.55);
					font-size: 13px;
					letter-spacing: 0.01em;
					text-align: center;
					color: #fff;
				}
			}
		}
	}
}

// SECTION modal :: END
