//- MODAL
//- ========================

		@param {String} idMod
		@param {Object (DOM)} modalContent - additional required wrapper create mixin

		@description - to the button need add (data-effect="mfp-zoom-in" popup-js)

		@example
			mixin modalContent()
				.c-modal__header
				.c-modal__body
				.c-modal__footer

			+modal('modalIdName', 'modalContent')

//- ========================
mixin modal(idMod, classMod, contentModal)
	.c-modal.mfp-hide.mfp-with-anim(id!= idMod class!= 'c-modal__' + classMod)
		+#{contentModal}
