// SECTION deal :: START

section#deal.deal
	.c-grid
		.deal__wrapper
			.deal__wrapper-left

				.deal__info
					h2.deal__info-title No monthly payment and your credit never expire

					.deal__info-wrapper
						p.deal__info-subtitle Volume Discount
						span.deal__info-text The more you verify, the lower the cost.

					.deal__info-wrapper
						p.deal__info-subtitle Free Deduplication
						span.deal__info-text We remove duplicates and bad syntax at no cost.

					.deal__info-wrapper
						p.deal__info-subtitle No Contract
						span.deal__info-text No upfront fee and flexible billing.

			.deal__wrapper-right

				.deal__box-wrapper

					.deal__box
						.deal__box-left
							.deal__box-icon
								img(src="img/mail.svg" alt="" title="")
								img(src="img/mail-hover.svg" alt="" title="")

						.deal__box-middle

							div
								h2 1,5M
								p Email verifications
							div
								span Price
								h3 $350

						.deal__box-right
							a.deal__box-btn(href="#" class="" title="")!= "Buy Now"

// SECTION deal :: END
